{
  "presets": ["@babel/preset-env", "@babel/react"],
  "plugins": ["@babel/plugin-transform-runtime", "babel-plugin-styled-components"],
  "only": [
    "./**/*.js",
    "./**/*.jsx",
    "node_modules/jest-runtime"
  ]
}